// Fonts
$font-main: Helvetica,
sans-serif;
$font-weight: 300;
$font-size: 15px;
$line-height: 1.2;

// Colors
$font-color: #5c5c5c;
$ad-font-color: #9d9d9d;
$app-bgc: #DAE0E6;
$menu-bgc: #fff;
$post-bgc: #fff;


// Sizes
$menu-height: 60px;